.he-text{
    direction: rtl;
}

.en-text{
    direction: ltr;
}

.w-10 {
    width:10%;
}
.back{
    background-color: black;
}

.videotag {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:focus {
    background: black;
    outline: none;
    color: white;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.hidecursor{
    cursor: none;
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: cornflowerblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: dodgerblue;
    cursor: pointer;
}


#widget {
}
#markerbounds {
    margin: auto;
    position: relative;
}

#box {
    margin: auto;
    position: absolute;
}

#marker {
    position: relative;
    background-color: brown;
    border-radius: 100px;
}

#coord {
    font-family: serif;
    font-size: 14px;
    margin: 0px;
}



.bl{
    background-color: black;
}